/* Style Options*/
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  transition: .4s;

}
li a:hover {
  color: #073494;
  transition: .4s;
  text-decoration: none;

}
.jumbo-text {
  font-size: 24px;
}
/* Navbar */
.ms_navbar {
  background-color: #fff;
  line-height: 70px;
  text-transform: capitalize;
  margin: 0;
}

.ms_navbar img.logo {
  height: 30px;
}

.ms_navbar ul {
  margin: 0;
}

.ms_navbar a {
  font-size: 15px;
  font-weight: 600;
  color: navy blue;
}

.ms_navbar a.ms_sign-btn { /* bottone */
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px;
  color: #0069ff;
  border: 1px solid #0069ff;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.ms_navbar a.ms_sign-btn:hover {
  text-decoration: none;
  background-color: #0069ff; /* blu vivido*/
  color: #fff; /* white */
  border: 1px solid #0069ff; /* blu vivido*/
}
.ms_burger-menu {
  font-size: 30px;
  color: #2485fd;
  margin-right: 25px;
}
/* End Navbar */

/* jumbotron */
.ms_jumbo {
  margin-top: 70px;
  height: 450px;
  background-image: url(../img/home-jumbo.jpg);
  background-size: cover;
  background-position: center;
}

.ms_jumbo h1 {
  color: white;
  font-size: 56px;
  margin-top: 45px;
}

.ms_jumbo .ms_teaser p {
  font-size: 22px;
  color: #bacbfe;
}

.ms_jumbo .ms_box {
  background-color: white;
  border-radius: 5px;
  padding: 20px 10px;
  margin-top: 30px;
}
.ms_jumbo .ms_light-blue {
  color: #3c65e2;
}

.ms_jumbo .ms_box button {
  width: 100%;
  border-color: white;
  padding: 5px;
  margin-top: 2px;
  border-radius: 6px ;
}

.ms_jumbo .ms_box button {
  color: white;
  background-color: #569aff;
}

.ms_jumbo .ms_box p {
  font-size: 12px;
}

/* Begin logo List*/
#logo-list {
  background-color: #f3f5f9;
  width: 100%;
  text-align: center;
}

#logo-list li {
  width: calc(100% / 6 - 4px);
  padding: 0 7px;
  vertical-align: middle;
}

 @media screen and (max-width: 767px) {
  #logo-list li {
    width: calc( 100% / 2 - 4px )
  }
 }

#logo-list h4 {
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #6f7b97;
  margin-top: 65px;
}

#logo-list a {
  font-size: 17px;
  color: #006aff;
  text-decoration: none;
  <!-- perche non riesco a dare del padding o del margin a A -->
}

/* Deploy */
.ms_primary h3 {
  font-size: 35px;
  letter-spacing: -.9px;
  padding-top: 60px;
  margin: 0 0 16px;

}
.ms_primary p {
  font-size: 20px;
  color: #6f7b97;
  margin: 0 0 60px;


}
/**/
/* End Logo List*/
